extends ../layout

block content
  
  h1 Nueva pelicula
  
  form(action='/movies/create2', method='POST')
    div(class="form-row")
      div(class='col')
        label Titulo
        input(type='text', name='title', class="form-control")
      div(class='col')
        label Duracion
        input(type='number', name='duration', class="form-control")
      div(class='col')
        label Genero
        input(type='text', name='genre', class="form-control")
      div(class='col')    
        input(type='submit', class="btn btn-primary")
    
